.game-container
  position: relative

.game__view

.game__controller
  +absolute-center
  width: 100%
  height: 100%
  font-size: 0
  
  button
    +reset-btn-style
    font-size: 1.6rem

.game__controller__stick
  position: absolute
  left: 0
  bottom: 0
  width: $size_stick
  height: $size_stick
  border-radius: $size_stick
  
  &:before
    $size: 25px
    +absolute-center
    content: ''
    display: block
    width: $size
    height: $size
    border-radius: $size
    border: solid 1px #fff

.game__controller__stick__toucharea
  $size: 100px
  +absolute-center
  margin: ($size_stick - $size) / 2

.game__controller__stick__dot
  $size: 90px
  +absolute-center
  width: $size
  height: $size
  border-radius: $size
  background-color: rgba(255,255,255,0.5)
  border: solid 6px #fff
  pointer-events: none
  &:before
    content: '\f030'
    font-family: FontAwesome
    color: #fff
    font-size: 4.0rem
    display: block
    width: 100%
    height: 100%
    text-align: center
    line-height: $size - 6px * 2

%game__controller__btns
  display: flex
  position: absolute
  margin: 10px

.game__controller__btns--top-right
  @extend %game__controller__btns
  top: 0
  right: 0

.game__controller__btns--right-bottom
  @extend %game__controller__btns
  right: 0
  bottom: 0

%game__controller__btn
  margin: 10px
  button
    &:before
      font-family: FontAwesome
      color: #fff
      font-size: 300%
    span
      display: none

.game__controller__btn--howto
  @extend %game__controller__btn
  button
    &:before
      content: '\f059'

.game__controller__btn--pause
  @extend %game__controller__btn
  button
    &:before
      content: '\f28b'

.game__controller__btn--rotate-vertical
  @extend %game__controller__btn
  button
    &:before
      content: '\f01b'
      font-size: 450%

.game__controller__btn--rotate-horizontal
  @extend %game__controller__btn
  button
    // transform: rotateZ(90deg)
    &:before
      content: '\f18e'
      font-size: 450%

.game__controller__info
  position: absolute
  top: 0
  left: 0
  font-size: 1.6rem
  line-height: 1.3
  color: rgba(#000, 0.3)
  padding: 1em

.game__controller__info__lv
  font-size: 1.8rem
  line-height: 1.5
  span
    font-size: 2.4rem
    margin-left: 0.5em

.game__controller__info__score
  span
    float: right
    margin-left: 0.5em

.game__controller__info__lines
  span
    float: right
    margin-left: 0.5em


.pause-container
  .modal__title
    &:before
      content: '\f04c'
      font-family: FontAwesome
      color: #fff
      font-size: 300%
      display: block
      margin-bottom: 35px


.result-container
  .modal__title
    margin-bottom: 1em
  
  .modal__text
    margin-bottom: 3em


.howto-container
  .modal__bg--howto
    @extend .modal__bg
    background-color: transparent
    .arround
      fill: rgba(#000,0.5)
    .circle
      fill: rgba(#fff,0.5)
    svg
      $size: 6000px / 2
      width: $size
      height: $size
      position: relative
      top: 50%
      margin-top: -$size / 2
      left: 50%
      margin-left: -$size / 2
    &[data-slide-index="1"] svg
      $size: 6000px / 2 * 0.75
      width: $size
      height: $size
      top: 100%
      margin-top: -$size / 2 - 70px
      left: 0
      margin-left: -$size / 2 + 75px
    &[data-slide-index="2"] svg
      $size: 6000px / 2 * 0.75
      width: $size
      height: $size
      top: 100%
      margin-top: -$size / 2 - 40px
      left: 100%
      margin-left: -$size / 2 - 90px
  
  .modal__content__inner
    height: 400px
  
  .modal__title
    font-size: 2.2rem
    margin-bottom: 0.5em
  
  .modal__slick-dots
  
  .modal__text
    color: #fff
  
  .modal__text--howto
    @extend .modal__text
    position: absolute
    left: 0
    right: 0
    margin-top: 280px
  .modal__text--howto-second
    @extend .modal__text
    position: absolute
    left: 140px
    bottom: 140px
    text-align: left
  .modal__text--howto-third
    @extend .modal__text
    position: absolute
    right: 70px
    bottom: 140px
    text-align: left

.howto__pointer
  position: absolute
  left: 0
  right: 0
  margin-top: 100px
  margin-left: 100px

.howto__pointer--second
  position: absolute
  left: 60px
  bottom: 28px
