.game-container
  position: relative

.game__view

.game__controller
  +absolute-center
  width: 100%
  height: 100%
  font-size: 0
  
  button
    +reset-btn-style
    font-size: 1.6rem

.game__controller__stick
  position: absolute
  left: 0
  bottom: 0
  width: $size_stick
  height: $size_stick
  border-radius: $size_stick
  border: dotted 1px #fff
  
  &:before
    $size: 25px
    +absolute-center
    content: ''
    display: block
    width: $size
    height: $size
    border-radius: $size
    border: solid 2px #fff

.game__controller__stick__toucharea
  $size: 100px
  +absolute-center
  margin: ($size_stick - $size) / 2

.game__controller__stick__dot
  $size: 90px
  +absolute-center
  width: $size
  height: $size
  border-radius: $size
  background-color: rgba(255,255,255,0.5)
  border: solid 6px #fff
  pointer-events: none

%game__controller__btns
  display: flex
  position: absolute
  margin: 10px

.game__controller__btns--top-right
  @extend %game__controller__btns
  top: 0
  right: 0

.game__controller__btns--right-bottom
  @extend %game__controller__btns
  right: 0
  bottom: 0

%game__controller__btn
  margin: 10px
  button
    &:before
      font-family: FontAwesome
      color: #fff
      font-size: 300%
    span
      display: none

.game__controller__btn--howto
  @extend %game__controller__btn
  button
    &:before
      content: '\f059'

.game__controller__btn--pause
  @extend %game__controller__btn
  button
    &:before
      content: '\f28b'

.game__controller__btn--rotate-vertical
  @extend %game__controller__btn
  button
    &:before
      content: '\f01b'
      font-size: 450%

.game__controller__btn--rotate-horizontal
  @extend %game__controller__btn
  button
    // transform: rotateZ(90deg)
    &:before
      content: '\f18e'
      font-size: 450%

.game__controller__info
  position: absolute
  top: 0
  left: 0
  font-size: 2.0rem
  color: #fff
  padding: 1em

.pause-container
  .modal__title
    &:before
      content: '\f04c'
      font-family: FontAwesome
      color: #fff
      font-size: 300%
      display: block
      margin-bottom: 35px
