@mixin is-sp {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin is-pc {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin absolute($top,$right,$bottom,$left) {
    position: absolute;
    top: $top;
    bottom: $bottom;
    left: $left;
    right: $right;
}

@mixin absolute-center() {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@mixin clearfix() {
    &:before,
    &:after {
        content : '';
        display : block;
        clear : both;
        height: 0;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }
    &:-moz-placeholder {
        opacity: 1;
        @content;
    }
    &::-moz-placeholder {
        opacity: 1;
        @content;
    }
    &:-ms-input-placeholder {
        @content;
    }
}

@mixin fix-webkit-placeholder {
    ::-webkit-input-placeholder {
        line-height: normal;
    }
}

@mixin reset-btn-style {
    border: none;
    outline: none;
    background: none;
    padding: 0;
    cursor: pointer;
    font: inherit;
    color: inherit;
}

@mixin anchor-state {
    a, a:link, a:visited, a:hover, a:active {
        @content;
    }
}

@mixin prefix($prop, $value) {
    #{$prop}: $value;
    @each $prefix in webkit, moz, ms, o {
        -#{$prefix}-#{$prop}: $value;
    }
}
