@charset "UTF-8"


// lib ------------------------------
@import "compass"
@import "compass/reset"


// common ------------------------------
@import "_definitions"
@import "_mixin"
@import "_common"


// main ------------------------------
h1
  font-size: 3.0rem
  
  +sp
    font-size: 2.0rem

.game-container
  position: relative

.game__controller
  position: absolute
  left: 0
  right: 0
  bottom: 0
  +absolute-center
  width: 100%
  height: 100%
  font-size: 0
  
  button
    +reset-btn-style
    font-size: 2.0rem
    font-family: $FUTURA_FONT
    width: 100px
    height: 100px
    margin: 10px
    color: #555
    transition: all 0.3s
    position: relative
    float: left

$stick-container-size: 150px
.stick-container
  $size: $stick-container-size
  position: absolute
  left: 0
  bottom: 0
  width: $size
  height: $size
  border-radius: $size
  border: dotted 1px #fff
  
  &:before
    $size: 50px
    +absolute-center
    content: ''
    display: block
    width: $size
    height: $size
    border-radius: $size
    border: solid 2px #fff

.stick-toucharea
  $size: 100px
  +absolute-center
  margin: ($stick-container-size - $size) / 2

.stick-dot
  $size: 100px
  +absolute-center
  width: $size
  height: $size
  border-radius: $size
  background-color: rgba(255,255,255,0.5)
  border: solid 6px #fff
  pointer-events: none

.btn-rotate
  $size: 100px
  width: $stick-container-size
  height: $stick-container-size
  position: absolute
  right: 0
  bottom: 0
  button
    +absolute-center
    width: $size
    height: $size
    border-radius: $size
    background-color: rgba(255,255,255,0.5)
    border: solid 6px #fff

.btn-pause
  $size: 60px
  width: $size
  height: $size
  margin: 10px
  position: absolute
  top: 0
  right: 0
  button
    +absolute-center
    font-size: 1.6rem
    width: $size
    height: $size
    border-radius: $size
    background-color: rgba(255,255,255,0.5)
    border: solid 6px #fff
