doctype html
html(lang="ja")
  head
    include partials/_meta
    
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel="stylesheet" href="./css/app.css")
    
    include partials/_ga
    
  body
    div.wrapper
      div.game-container
        div.game__view#js-game-view
        div.game__controller.js-game-controller
          div.game__controller__info
            p.game__controller__info__lv
              | Lv. 
              span.js-info-level 1
            p.game__controller__info__score
              | score 
              span.js-info-score 0000
            p.game__controller__info__lines
              | lines 
              span.js-info-lines 0000
          div.game__controller__center-ui
            div.game__controller__center-ui__top.js-btn-rotate-back
              span rotate back side
            div.game__controller__center-ui__left.js-btn-rotate-left
              span rotate left side
            div.game__controller__center-ui__right.js-btn-rotate-right
              span rotate right side
            div.game__controller__center-ui__bottom.js-btn-rotate-front
              span rotate front side
          div.game__controller__btns--top-right
            div.game__controller__btn--sound
              button.js-btn-sound.is-sound-on(type="button")
                span sound on/off
            div.game__controller__btn--howto
              button.js-btn-to-howto(type="button")
                span howto
            div.game__controller__btn--pause
              button.js-btn-pause(type="button")
                span pause
          div.game__controller__stick.js-stick-container
            div.game__controller__stick__toucharea.js-stick-toucharea
              div.game__controller__stick__dot
          div.game__controller__btns--right-bottom
            div.game__controller__btn--rotate-vertical
              button.js-btn-rotate-vertical(type="button")
                span ↑
            div.game__controller__btn--rotate-horizontal
              button.js-btn-rotate-horizontal(type="button")
                span →
      div.pause-container.modal.js-modal-pause
        div.modal__inner
          div.modal__bg
          div.modal__content: div.modal__content__inner
            h2.modal__title PAUSE
            p.modal__button
              span.js-btn-modal-close.js-btn-resume Tap to Resume
      div.start-container.modal.js-modal-start
        div.modal__inner
          div.modal__bg
          div.modal__content: div.modal__content__inner
            h2.modal__title
              span Tetricus
              include ../svg/logo.svg
            p.modal__button
              span.js-btn-modal-close.js-btn-start Tap to Start
            p.modal__button
              button.js-btn-modal-close.js-btn-resume(type="button") Resume last game
            p.modal__button
              button.js-btn-to-howto(type="button") Tutorial

      div.howto-container.modal.js-modal-howto(data-slide-index="0")
        div.modal__inner
          div.modal__bg--howto
            include ../svg/bg_circle.svg
          div.modal__content
            div.modal__content__inner
              h2.modal__title How to play
              ul.modal__slide-dots.js-slide-dots
                li.is-active
                li
                li
              div.js-slide-howto
                div
                  p.howto__pointer
                    img(src="./img/pointer.png" width="123px")
                  p.modal__text--howto
                    | Flick to <br>Move the block
                div
                  p.howto__pointer--second
                    img(src="./img/pointer_2.png" width="103px")
                  p.modal__text--howto-second 
                    | Flick <br>Camera Stick
                div
                  p.modal__text--howto-third 
                    | Tap to <br>Rotate the block
                  //- p.modal__button
                    button.js-btn-to-back(type="button") Back

      div.result-container.modal.js-modal-result
        div.modal__inner
          div.modal__bg
          div.modal__content: div.modal__content__inner
            h2.modal__title Game Over!!
            div.modal__text
              p.modal__text__lv
                | Lv. 
                span.js-info-level 1
              p.modal__text__score
                | score 
                span.js-info-score 0000
              p.modal__text__lines
                | lines 
                span.js-info-lines 0000
            p.modal__button
              span.js-btn-modal-close.js-btn-start Tap to Restart
      div.splash-container
    
    script(src="./js/jquery.min.js")
    script(src="./js/three.min.js")
    script(src="./js/script.js")
