doctype html
html(lang="ja")
  head
    include partials/_meta
    
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css")
    link(rel="stylesheet" href="./css/app.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js")
    
    include partials/_ga
    
  body
    div.wrapper
      div.game-container
        div.game__view#js-game-view
        div.game__controller.js-game-controller
          div.game__controller__info
            p
              | Lv. 
              span.js-info-level 1
            p
              | score 
              span.js-info-score 0
            p
              | lines 
              span.js-info-lines 0
          div.game__controller__btns--top-right
            div.game__controller__btn--howto
              button.js-btn-to-howto(type="button")
                span howto
            div.game__controller__btn--pause
              button.js-btn-pause(type="button")
                span pause
          div.game__controller__stick.js-stick-container
            div.game__controller__stick__toucharea.js-stick-toucharea
              div.game__controller__stick__dot
          div.game__controller__btns--right-bottom
            div.game__controller__btn--rotate-vertical
              button.js-btn-rotate-vertical(type="button")
                span ↑
            div.game__controller__btn--rotate-horizontal
              button.js-btn-rotate-horizontal(type="button")
                span →
      div.pause-container.modal.js-modal-pause
        div.modal__inner
          div.modal__bg
          div.modal__content
            h2.modal__title PAUSE!!
            p.modal__button
              button.js-btn-modal-close.js-btn-resume(type="button") Resume
      div.gameover-container.modal.js-modal-gameover
        div.modal__inner
          div.modal__bg
          div.modal__content
            h2.modal__title GAME OVER!!
            p.modal__button
              button.js-btn-to-result(type="button") Result
      div.start-container.modal.js-modal-start
        div.modal__inner
          div.modal__bg
          div.modal__content
            h2.modal__title Tetricus
            p.modal__button
              button.js-btn-modal-close.js-btn-start(type="button") Start
            p.modal__button
              button.js-btn-to-howto(type="button") How To ?
      div.howto-container.modal.js-modal-howto
        div.modal__inner
          div.modal__bg
          div.modal__content
            h2.modal__title HOWTO!!
            p.modal__button
              button.js-btn-to-back(type="button") Back
      div.result-container.modal.js-modal-result
        div.modal__inner
          div.modal__bg
          div.modal__content
            h2.modal__title RESULT!!
            p.modal__text
              | Lv. 
              span.js-info-level 1
            p.modal__text
              | score 
              span.js-info-score 0
            p.modal__text
              | lines 
              span.js-info-lines 0
            p.modal__button
              button.js-btn-modal-close.js-btn-start(type="button") Restart
      div.splash-container
    
    script(src="./js/script.js")
