doctype html
html(lang="ja")
  head
    include partials/_meta
    
    link(rel="stylesheet" href="./css/main.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r75/three.min.js")
    
    include partials/_ga
    
  body
    div.wrapper
      div.game-container
        div#canvas-container
        div.game__controller
          div.stick-container.js-stick-container
            div.stick-toucharea.js-stick-toucharea
              div.stick-dot
          div.btn-rotate
            button.js-switch-rotate(type="button") rotate direction

          //- button.js-switch-camera(type="button") camera
          //- button.js-switch-block(type="button") block
          //- button.round.js-switch-rotate(type="button") rotate direction
            span
        
      //- p.inspired
        | inspired by 
        a(href="http://threejs.org/examples/#webgl_interactive_voxelpainter" target="_blank")
          | threejs - voxel painter
    
    script(src="./js/script.js")
