- var domain = "http://localhost"
- var share_url = domain
- var share_siteName = "3Dtetris"
- var share_title = "3Dtetris"
- var meta_description = "3Dtetris"
- var meta_keywords = "3Dtetris, tetris"

- var share_image = domain + "/img/ogp.png"
- var og_description = meta_description
- var tw_description = meta_description
- var tw_hashtag = "hashtag"
- var tw_site = "@hoge"
- var tw_creator = "@hoge"
- var line_description = meta_description + " " + share_url
- var fb_appid = ""
